body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    background-color: #e15f41;
}

.nav .nav-link.active {
    background-color: #fff;
    color: #e15f41;
}

.nav .nav-link,
.navbar-brand,
.navbrand:hover  { /*tag :hover serve para tirar a marcação ao passar o mouse */
    color: #fff;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
}

